<div id="aggregate-container">
    <style>
        svg {
            overflow: hidden;
            font-size: 12px;
        }

        .node rect {
            stroke: #333;
            stroke-width: 1.5px;

        }

        .edgeLabel rect {
            fill: #fff;
        }

        .edgePath {
            stroke: #333;
            stroke-width: 1.5px;
            fill: none;
        }
        .edgePath path {
            padding: 20px;
        }
        svg {
            transition: background-color 800ms;
        }
        svg.dark {
            background-color: #7a7a7a;

        }
        svg.dark .node:not(.hover) rect {
            /*fill: #999999;*/
            opacity: 0.3;
        }
        svg.dark g.node {
            fill: #fff;
        }
        g.hover {
            fill: #fff;
        }
        g.hover rect {
            fill: #4058ff;
        }
        g.hover-edge {
            stroke: #4058ff;
            stroke-width: 2px;
        }

    </style>
    <svg width="100%" height="4000" class="well rootSvg">
        <!--<g transform="translate(20,20)"/>-->
    </svg>
</div>